.img-ufabc{
    object-position: 0 -9px;
}

.img-carousel {
    height: 480px;
    object-fit: cover;
}

.card-posicao-img {
    height: 300px;
    object-fit: cover;
}

.caixa-avatar {
    margin: 15px;
    width: 18rem;
    background-color:rgb(165, 178, 190);
}

.btn-cor {
    background-color: #083d84;
    color: aliceblue;
}

.logo-image{
    width: 125px;
    height: 46px;
    border-radius: 20%;
    overflow: hidden;
    margin-top: -6px;
}

div.titulo {
    padding-top: 50px;
    text-align: center;
    font-size: 250%;
}

div.subtitulo {
    text-align: center;
    font-size: 150%;
    margin: 10px;
}